@page "/home"

<PageTitle>Investorlift - Home</PageTitle>

<style>
    .top-bar {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        background-color: rgb(39, 74, 187);
        flex-direction: row;
        height: 44px;
        justify-content: space-between;
        margin: 0px;
        padding: 0px 60px;
        width: 100%;
        outline: rgb(66, 153, 225) solid 1px !important
    }

    .navigation {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        align-items: center;
        flex-direction: row;
        height: 94px;
        justify-content: space-between;
        margin: 0px;
        padding: 0px 60px;
        outline: rgb(66, 153, 225) solid 1px !important
    }

    # {
        float: left;
        width: 66.6667%;
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        display: flex !important;
        flex-direction: row-reverse !important;
        min-height: 1px;
        padding: 0px;
        outline: rgb(66, 153, 225) solid 1px !important
    }

    a > .sign-in {
        float: left;
        width: 66.6667%;
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        display: flex !important;
        flex-direction: row-reverse !important;
        min-height: 1px;
        padding: 0px;
        outline: rgb(66, 153, 225) solid 1px !important
    }
</style>

<header class="inner-header" data-v-1fad4a79="">
    <div class="top-bar row" data-v-1fad4a79="">
        <div class="col-sm-6 col-md-6" data-v-1fad4a79="">
            <!----> <a href="mailto:support@investorlift.com" data-v-1fad4a79="">
                <i class="fa fa-envelope" data-v-1fad4a79=""></i>
                support@investorlift.com
            </a>
        </div> <div class="col-sm-6 col-md-6 socials" data-v-1fad4a79=""><a target="_blank" href="https://twitter.com/investorlift" data-v-1fad4a79=""><i class="fa fa-twitter" data-v-1fad4a79=""></i></a> <!----> <a target="_blank" href="http://instagram.com/investorlift" data-v-1fad4a79=""><i class="fa fa-instagram" data-v-1fad4a79=""></i></a> <a target="_blank" href="https://www.facebook.com/investorlift/" data-v-1fad4a79=""><i class="fa fa-facebook-square" data-v-1fad4a79=""></i></a> <a target="_blank" href="https://www.linkedin.com/company/investorlift" data-v-1fad4a79=""><i class="fa fa-linkedin-square" data-v-1fad4a79=""></i></a> <!----></div>
    </div> <div class="navigation row" data-v-1fad4a79="">
        <div class="logo col-md-4" data-v-1fad4a79=""><a href="/" aria-current="page" class="nuxt-link-exact-active nuxt-link-active" data-v-1fad4a79=""><img src="https://s3.us-east-2.amazonaws.com/sendlift/deals-site-images/29/img_logo.png" alt="" data-v-1fad4a79=""></a> <!----></div> <div id="nav-bar" class="d-flex flex-row-reverse col-md-8" data-v-1fad4a79="">
            <div class="post-deal-nav" data-v-1fad4a79="">
                <a class="button post-deal-btn" data-v-1fad4a79="">
                    Buy Box
                </a> <a href="https://get.investorlift.com/" target="_blank" class="button post-deal-btn" data-v-1fad4a79="">
                    Post a Deal
                </a>
            </div> <div class="not-logged-nav" data-v-1fad4a79=""><a href="#" class="sign-in" data-v-1fad4a79=""><i class="fa fa-user" data-v-1fad4a79=""></i> Log In</a> <a href="#" class="button border" data-v-1fad4a79="">Register</a></div> <!---->
        </div>
    </div>
</header>