@page "/home"

<PageTitle>Investorlift - Home</PageTitle>

<div class="container-fluid min-vh-100 d-flex flex-column">
    <div class="row">
        <div class="col" style="height: 120px; background: red;">
            Top Bar
        </div>
    </div>
    <div class="row flex-grow-1">
        <div class="col-md-5 border" style="background: yellow;">
            Bottom Left
        </div>
        <div class="col-md-7 border" style="background: green;">
            Bottom Right
        </div>
    </div>
</div>