<div class="container-fluid d-flex flex-column">
    <div class="row">
        <div class="toppage">
            <div class="toppagerow">
                <div class="col-sm-6 col-md-6">
                    <a href="mailto:support@investorlift.com">
                        <i class="fa fa-envelope"></i>
                        support@investorlift.com
                    </a>
                </div>

                <div class="col-sm-6 col-md-6 socials">
                    <a target="_blank" href="https://twitter.com/investorlift">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank" href="http://instagram.com/investorlift">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/investorlift/">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/company/investorlift">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                </div>
            </div>
            <div class="toppagenav">
                <div class="col-md-4">
                    <div class="toppagenav-logo">
                        <a href="/" aria-current="page">
                            <img src="https://investorlift.com/_nuxt/img/logo.10953de.png" />
                        </a>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="toppagenav-not-logged">
                        <a href="#" class="sign-in">
                            <i class="fa fa-user"></i> Log In
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
